# SERVER
PORT=8080
NODE_ENV=development

# DATABASE
MONGO_URI=

# JWT
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

# EMAIL
EMAIL_USER=
EMAIL_PASS=

# FRONTEND
FRONTEND_URL=